
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet')
body {
    background-color: bisque;
}
p {
    color: darkblue;
}
#font_test {
    font-size: 40pt;
    font-family: "Dancing Script", cursive;
}